@use '../mixin/mixin' as *;
@use '../setting/setting' as *;

footer#footer{
  position: relative;
  background-color: black;
  color: #FFF;
  padding: 2.6rem 1.8rem;
  @include pc {
    padding: 40px 0 0;
  }
  .section-inner{
    width: 100%;
    @include pc {
      max-width: 1340px;
      margin: 0 auto;
      padding: 0;
    }
  }
  .footer-title{
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .footer-title-sub{
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 52px;
    @include pc {
      margin-bottom: 16px;
    }
  }
  .copyright{
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    @include pc {
      text-align: center;
    }
  }
  .pc-menu {
    position: absolute;
    background-color: #000;
    li {
      padding: 16px 32px 16px 0;
      border-right: none;
      font-size: 12px;
      a{
        border-left: 1px solid #FFF;
        padding: 0 0 0 32px;
        img{
          display: none;
        }
      }
      &.menu-contact {
        background-color: #00377E;
        a{
          border: none;
          img{
            display: inline-block;
          }
        }
      }
    }
  }
}
